@use "../Utils/variables" as variables;

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes transition {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes heart {
    0%   {
        font-weight: 800;
        background: -webkit-linear-gradient(variables.$colour-primary,variables.$colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        opacity: 0.1;
    }   
    100% {
        font-weight: 800;
        background: -webkit-linear-gradient(variables.$colour-primary,variables.$colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } 
}

.vignets{
    animation: fadein 2s;
}
.restaurants{
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    padding-top: 20px;
    padding-bottom: 60px;
    padding: 30px 16px 60px 16px;      
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 100%;
    height: 245px;
    border-radius: 16px;
    box-shadow: 1PX 1PX 10PX 3PX lightgray;
        &--img{
            object-fit: cover;
            width: 100%;
            height: 175px;
            border-radius: 16px 16px 0 0;
                &--new{
                    display: flex;
                    padding: 6px 8px;
                    position: absolute;
                    right: 40px;
                    background: variables.$colour-tertiary;
                    color: #2d9c80;
                    border-radius: 4px;
                }
        }
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description{
    margin: 0;
        &--name{
            margin: 10px 0 4px 10px;
            font-size: 18px;
                &--info{
                    margin: 0 0 8px 10px;
                    font-size: 16px;
                }
        }
}
.heart{
    padding-right: 20px;
    font-size: 32px;
    font-weight: 100;
        &--absolute{
            position: absolute;
            right: 36px;
            font-size: 32px;
            font-weight: 100;
                &:hover{
                    animation: heart 1500ms ease forwards;
                    cursor: pointer;
                }  
        }
}

.restaurants a{
    width: 100%;
    height: 100%;
}


/* menu */

.menus{
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 42px 42px 0 0;
    margin-top: -15%;
}

.tittle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
        &--name{
            font-weight: 500;
            font-family: 'Shrikhand', sans-serif;
            font-size: 28px;
        }
}

.articles{
    display: flex;
    flex-direction:column;
    gap: 16px;
    margin-bottom: 32px;
}

.menu{
    height: 50px;
    border-bottom: 3px solid variables.$colour-tertiary;
    width: 35px;    
        &--name{
            font-weight: 400;
            font-size: 18px;
        }
}

.receipts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    border-radius: 16px;
    box-shadow: 1PX 3PX 10PX 3PX lightgray;
    animation: transition 1s forwards ease-in;
    margin: auto;
    overflow: hidden;
    width: 100%;
        &:hover > .box{
            width: 5em;
            .check{
                transform: rotate(0deg);
            }
        }
        &--description{
            flex-grow: 1;
            width: 10em;
        }
        &--name{
            margin: 11px 0 4px 11px;
            font-size: 18px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &--ingredient{
            margin: 4px 0 11px 11px;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &--price{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-right: 20px;
            padding-left: 2px;
            padding-bottom: 11px;
            font-weight: 500;
        }
}
.box{
    display: flex;
    width: 0;
    transition: all 1s;
    background: variables.$colour-tertiary;
}

.check{
    margin: auto;
    border-radius: 50%;
    color: white;
    background: variables.$colour-tertiary;
    transition: transform 1s;
    transform: rotate(180deg);
        &--circle{
            font-size: 26px;
        }
}
.button{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 20px;
        &--buy{
                color: white;
                padding: 16px;
                font-size: 16px;
                border: 1px solid variables.$colour-primary;
                border-radius: 30px;
                background: linear-gradient(to bottom right, variables.$colour-secondary, variables.$colour-primary );
                box-shadow: 1PX 3PX 10PX 3PX lightgray;
                padding-left: 50px;
                padding-right: 50px;
        }
}
