ul {
    list-style-type: none;
    padding-left: 5%;
  }
li{
    padding: 3px;
    color: white;
    margin-bottom: 2px;
}
footer img{
    height: auto;
    max-width: 200px;
    padding-left: 5%;
    margin-top: 20px;
    filter: invert(100%);
}
footer{
    background: #484a4a;
}

@media screen and (min-width: 992px){
    footer{
        text-align: center;
    }
    footer img{
        height: auto;
        max-width: 200px;
    }
}

@media screen and (min-width: 376px){
    footer{
        text-align: center;
    }
}