* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav--logo {
  height: 30PX;
  width: 50%;
  margin-bottom: 16px;
  margin-top: 12px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro--search {
  background: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 50px;
  width: 100%;
}
.intro--search--name {
  font-size: 18px;
  font-weight: 500;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
  background: #F8F8F8;
}
.book--name {
  margin: 30px 0 6px 0;
  text-align: center;
  font-size: 26px;
  width: 80%;
}
.book--description {
  text-align: center;
  margin: 0 0 30PX 0;
  font-size: 18px;
}

.btn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #9356DC;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #d056f5, #9356DC);
  box-shadow: 1PX 3PX 10PX 3PX lightgray;
}

.function {
  display: flex;
  flex-direction: column;
  padding: 30px 16px 50px 16px;
}

.steps {
  display: flex;
  flex-direction: column;
}
.steps--article {
  margin: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border-radius: 20px;
  background: #F8F8F8;
  padding-top: 5px;
  padding-bottom: 5px;
}
.steps--article--name {
  font-size: 18px;
  font-weight: 500;
}
.steps--number {
  background: #9356DC;
  position: relative;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  margin-left: -11px;
}

.white {
  color: white;
}

.darkgray {
  color: #808080;
}

.size {
  font-size: 18px;
}

.vignets {
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  padding-top: 20px;
  padding-bottom: 60px;
  padding: 30px 16px 60px 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  background: white;
  width: 100%;
  height: 245px;
  border-radius: 16px;
  box-shadow: 1PX 1PX 10PX 3PX lightgray;
}
.cards--img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 16px 16px 0 0;
}
.cards--img--new {
  display: flex;
  padding: 6px 8px;
  position: absolute;
  right: 40px;
  background: #99E2D0;
  color: #2d9c80;
  border-radius: 4px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  margin: 0;
}
.description--name {
  margin: 10px 0 4px 10px;
  font-size: 18px;
}
.description--name--info {
  margin: 0 0 8px 10px;
  font-size: 16px;
}

.heart {
  padding-right: 30px;
  font-size: 24px;
}

.restaurants a {
  width: 100%;
  height: 100%;
}

/* menu */
.menus {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 42px 42px 0 0;
  margin-top: -15%;
}

.tittle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tittle--name {
  font-weight: 500;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}
.tittle--heart {
  padding-right: 20px;
  font-size: 24px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.menu {
  height: 50px;
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.menu--name {
  font-weight: 400;
  font-size: 18px;
}

.receipts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  border-radius: 16px;
  box-shadow: 1PX 3PX 10PX 3PX lightgray;
}
.receipts--name {
  margin: 11px 0 4px 11px;
  font-size: 18px;
  font-weight: 600;
}
.receipts--ingredient {
  margin: 4px 0 11px 11px;
  font-size: 15px;
}
.receipts--price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 11px;
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 20px;
}
.button--buy {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #9356DC;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #d056f5, #9356DC);
  box-shadow: 1PX 3PX 10PX 3PX lightgray;
  padding-left: 50px;
  padding-right: 50px;
}

ul {
  list-style-type: none;
  padding-left: 5%;
}

li {
  padding: 3px;
  color: white;
}

footer img {
  height: 20px;
  width: 33%;
  padding-left: 5%;
  margin-top: 20px;
  filter: invert(100%);
}

footer {
  background: #484a4a;
}

.nav1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.nav1--arrow {
  padding-right: 300px;
  position: absolute;
  font-size: 20px;
}

.backimg {
  object-fit: cover;
  width: 100%;
  height: 340px;
}

/*# sourceMappingURL=_index.css.map */
