ul {
    list-style-type: none;
    padding-left: 5%;
  }
li{
    padding: 3px;
    color: white;
    
}
footer img{
    height: 20px;
    width: 33%;
    padding-left: 5%;
    margin-top: 20px;
    filter: invert(100%);
}
footer{
    background: #484a4a;
}
