@use "../Utils/variables" as variables;
@use "../utils/mixins" as mixin;

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: fadeout 3s forwards;
        &--load{
            display: flex;
            width: 200px;
            height: 200px;
            border: 10px solid #ddd;
            border-top-color: variables.$colour-primary;
            border-radius: 50%;
            animation: loading 3s forwards infinite;
        }
}

.nav{
    @include mixin.flex_row;
    align-items: center;
    justify-content: center;
    height: 60px;
        &--logo{
            height: auto;
            max-width: 160px;
        }
}
.intro{
    @include mixin.flex_column;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
        &--search{
            background: #E8E8E8;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            height: 50px;
            padding-left: 70px;
            width: 100%;
            box-shadow: 0px -2px 4px 0px lightgrey;
                &--name{
                    font-size: 18px;
                    font-weight: 500;
                    border: none;
                    background: #E8E8E8;
                }
        }
}

.book{
    @include mixin.flex_column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;  
        &--name{
            margin: 30px 0 6px 0;
            text-align: center; 
            font-size: 26px; 
            width: 80%;
        }
            &--description{
                text-align: center;
                margin: 0 0 30PX 0;
                font-size: 18px;
            }
}

.btn{
    display: flex;
    justify-content: center;
    color: white;
    padding: 16px 20px;
    font-size: 16px;
    border: 1px solid variables.$colour-primary;
    border-radius: 30px;
    background: linear-gradient(to bottom right,#DA70D6, variables.$colour-primary );
    box-shadow: 1PX 3PX 10PX 3PX lightgray;
}




.function{
    @include mixin.flex_column;
    padding: 30px 16px 50px 16px;
}
.steps{
    @include mixin.flex_column;
     &--article{
         margin: 12px;
         @include mixin.flex_row;
         align-items: center;
         justify-content: flex-start;
         gap: 24px;
         border-radius: 20px;
         background: #F8F8F8;
         padding-top: 5px;
         padding-bottom: 5px;
            &:hover{
                .darkgray{
                    color: variables.$colour-primary ;
                }
                background: #f7f5fb;
                cursor: pointer;
            }
            &--name{
                font-size: 18px;
                font-weight: 500;
            }
     }
        &--number{
            background: variables.$colour-primary;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            height: 24px;
            width: 24px;
            font-size: 14px;
            margin-left: -11px;
            color: white;
        }
}
.white {
    color: white;
}
.darkgray {
    color: #808080;
}
.size{
    font-size: 18px;
}


@media screen and (min-width: 992px){
    .nav--logo{
        height: auto;
        max-width: 200px;
    }
    .steps{
        flex-direction: row;
        justify-content: space-evenly;
            &--article{
                width: 33%;
            }
            &--number{
                font-size: 16px;
            } 
    }
    .container{
        gap: 20px;
    }
    .row{
        @include mixin.flex_row;
        width: 100%;
        gap: 20px;
    }
}

@media screen and (min-width: 376px){
    .steps{
        flex-direction: row;
        justify-content: space-evenly;
            &--article{
                width: 33%;
                gap: 10px;
                    &--name{
                        font-size: 14px;
                    }
            }
            &--number{
                padding-top: 3px;
            } 
    }
}