@use "../Utils/variables" as variables;
@use "../utils/mixins" as mixin;

.nav{
    @include mixin.flex_row;
    align-items: center;
    justify-content: center;
        &--logo{
            height: auto;
            max-width: 200px;
            margin-bottom: 16px;
            margin-top: 12px;
        }
}
.intro{
    @include mixin.flex_column;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
        &--search{
            background: #E8E8E8;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            height: 50px;
            width: 100%;
            box-shadow: 0px -2px 4px 0px lightgrey;
                &--name{
                    font-size: 18px;
                    font-weight: 500;
                }
        }
}

.book{
    @include mixin.flex_column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;  
        &--name{
            margin: 30px 0 6px 0;
            text-align: center; 
            font-size: 26px; 
            width: 80%;
        }
            &--description{
                text-align: center;
                margin: 0 0 30PX 0;
                font-size: 18px;
            }
}

.btn{
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid variables.$colour-primary;
    border-radius: 30px;
    background: linear-gradient(to bottom right,#d056f5, variables.$colour-primary );
    box-shadow: 1PX 3PX 10PX 3PX lightgray;
}




.function{
    @include mixin.flex_column;
    padding: 30px 16px 50px 16px;
}
.steps{
    @include mixin.flex_column;
     &--article{
         margin: 12px;
         @include mixin.flex_row;
         align-items: center;
         justify-content: flex-start;
         gap: 20px;
         border-radius: 20px;
         background: #F8F8F8;
         padding-top: 5px;
         padding-bottom: 5px;
            &:hover{
                .darkgray{
                    color: variables.$colour-primary ;
                }
                background: #f7f5fb;
                cursor: pointer;
            }
            &--name{
                font-size: 18px;
                font-weight: 500;
            }
     }
        &--number{
            background: variables.$colour-primary;
            position: relative;
            border-radius: 50%;
            padding: 4px 8px; 
            font-size: 12px;
            margin-left: -11px;
        }
}
.white {
    color: white;
}
.darkgray {
    color: #808080;
}
.size{
    font-size: 18px;
}


@media screen and (min-width: 992px){
    .nav--logo{
        height: auto;
        max-width: 200px;
    }
    .intro--search{
        font-size: 22px;
            &--name{
                font-size: 22px;
            }
    }
    .book--name{
        font-size: 28px;
    }
    .book--description{
        font-size: 22px;
        width: 80%;
    }
    .steps{
        flex-direction: row;
        justify-content: space-evenly;
            &--article{
                width: 33%;
                    &--name{
                        font-size: 24px;
                    }
            }
            &--number{
                font-size: 16px;
                padding: 6px 10px;
            } 
    }
    .size{
        font-size: 24px;
    }
    .btn{
        font-size: 24px
    }
    .container{
        gap: 20px;
    }
    .row{
        @include mixin.flex_row;
        width: 100%;
        gap: 20px;
    }
}

@media screen and (min-width: 376px){
    .steps{
        flex-direction: row;
        justify-content: space-evenly;
            &--article{
                width: 33%;
                    &--name{
                        font-size: 16px;
                    }
            }
            &--number{
                font-size: 12px;
                padding: 6px 10px;
            } 
    }
}